<p-dialog header="Add Client" [(visible)]="displayController.display" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">  
  <div class="ui-g ui-fluid" *ngIf="cliente">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="nombre">Nombre</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="nombre" [(ngModel)]="cliente.nombre" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="apellido">Apellido</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="apellido" [(ngModel)]="cliente.apellido" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="dni">DNI</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="dni" [(ngModel)]="cliente.dni" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button *ngIf="!isNewClient" type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>